name: Validate renovate configuration

on:
  pull_request:
    paths:
      - '.github/workflows/renovate-config-validator.yaml'
      - 'bun.lockb'
      - 'default.json'
      - 'package.json'
      - 'renovate.json'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout configuration
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Bake a bun
        uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
      - name: Install Dependencies
        run: bun install --frozen-lockfile
      - name: Validate configuration
        run: bun validate
